body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    overflow: scroll;
}


.header {
    background: #1F2937;
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    max-height: 5vh;
}

.header__top-left {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 15vh 10vw 15vh;
}

.header__left-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header__top-right {
    display: flex;
}

.header__top-right a {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 1vw;
}

.header__left {
    max-width: 80vh;
}

.header__left-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header__left button {
    background-color:#3882F6;
    border-color: #3882F6;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    padding: 1px 1.5vw;
    margin-top: 1.5vh;
    border-style: solid;
}

.header__right {
    display: flex;
    max-width: 100%;
    height: auto;
}

.body-information {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 25vw;
    padding-left: 20vw;
    padding-right: 20vw;
}

.body-information__header {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    align-self: center;
}

.body-information__box-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-information__box {
    border-radius: 14px;
    width: 3vw;
    height: 3vw;
    border: 5px solid #3882F6;
    padding: 50px;
    margin: 20px;
}

.body-information__box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1.5vw;
}

.body-information__subtext {
    margin-top: 1vh;
    color: dimgray;
}

.body-quote {
    background-color: #E5E7EB;
    min-height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

.body-quote__main {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.body-quote__subtext {
    margin-top: 4vh;
    align-self: flex-end;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    min-height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-size: 18px;
}